<div class="search-feedback">
  <img src="/images/icon-warning-triangle.svg">
  <h2>Something went wrong.</h2>
  <h4>Please try again. If error persists, please contact support and include this request id: <%= @request_id %>.</h4>
</div>
