<div class="search-feedback">
  <img src="/images/magnifying-glass.svg">
  <h2>Searching for locator information...</h2>
  <progress id="search-progress-bar" max=100 value=0 phx-hook="ProgressBar"></progress>
  <h4>This can take up to a few minutes</h4>
</div>
