export HEX_OBAN_UI_KEY=""

# Feel free to override ENRICHMENT_CACHE_PEPPER, LIVE_VIEW_SIGNING_SALT and SECRET_KEY_BASE
# in .envrc.private but it's not necessary for dev or test.
# This can be generated with mix phx.gen.secret 32
export ENRICHMENT_CACHE_PEPPER="aWlSo0Xi7PjaMik/D4JfU9S7tKOFwhz4"
# These can be generated with mix phx.gen.secret
export LIVE_VIEW_SIGNING_SALT="bz9/Q6xszpD3VKxVzzNbPTUr9Wu9wWV6jMtx0+OW+7/vKclPXi9kA0VtpZq0gRS3"
export SECRET_KEY_BASE="PoZbi70MnJojDJ2W41mccqWsFaGa2Ea6uctuWxzaYd9I0XZceVT3lIGVLtzSCTw2"

# Add the following CommCare overrides to the .envrc.private file
export COMMCARE_API_TOKEN=""
export COMMCARE_SIGNATURE_KEY=""
export COMMCARE_SIGNATURE_SECRET=""
export COMMCARE_SIGNATURE_TEST_CASE_ID=""
export COMMCARE_SIGNATURE_TEST_DOMAIN=""
export COMMCARE_SIGNATURE_TEST_USER_ID=""
export COMMCARE_USERNAME=""
export COMMCARE_USER_ID=""

# This forwards through the staging environment because Thomson Reuters locks
# down access to their API via IP allow list. Override in .envrc.private if needed.
export THOMSON_REUTERS_API_ENDPOINT="127.0.0.1:8888"
# Add the following Thomson Reuters overrides to the .envrc.private file
export THOMSON_REUTERS_BASIC_AUTH=""
export THOMSON_REUTERS_CERT_PASSWORD=""
export THOMSON_REUTERS_PRIVATE_KEY="" # can be a path or a single-line string with \n's
export THOMSON_REUTERS_PUBLIC_CERT="" # can be a path or a single-line string with \n's

# Put your overrides in a .envrc.private file. If you want syntax highlighting in vim,
# add the following line (with #) to the top of the file.
# vi: ft=direnv
source_env_if_exists .envrc.private
