// CSS variables are to preferred if IE is not being supported.
// https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#Browser_compatibility

$white: #ffffff; // browser "white"
$black: #000000; // browser "black"
$blue: #007AFF;
$dark_grey: #999999;
$grey: #dbdbdb;
$orange: #e3670c;
$red: #F44336;
$green: #23D160;
$pink: #E91E63;
